export DB_PORT=5432
export DB_HOST=localhost
export DB_USER=postgres
export DB_PASSWORD=password
export DB_NAME=mega_directory
export API_PORT=3030
export ASTRO_PORT=3000
export ADMIN_PORT=4000
export LOG_LEVEL=debug
export CRAWLER_LOG_LEVEL=DEBUG
export DATABASE_URL='postgresql://postgres:password@localhost:5432/mega_directory'
export API_TOKEN='Z3B8n6doWuOpAEviHrki4Kpk'
export OPENAI_API_KEY='ysk-proj-i4JEKl44AdpD-1_Xx-TxG9DMscFwqLxeXsTXADItas6-9aXFdb22gGui6kd-U4EdlAnfzU4x3DT3BlbkFJpIUC98KuBj7D87lcfy7CMGKFBi7yuVFNrynQJcWV0M0E0Uk5zlJo6ciuVWiM3NG8COJ-oFu2oA'
export OPENROUTER_API_KEY='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'
export GEMINI_API_KEY='yAIzaSyDa2zEHW9GGD5zVfSNDH0lUXWvrB_8EJvQ'
export ADMIN_JWT_SECRET='mHtAWbWqbgrU5EYk1YmpgRSu9LLESTrq40LzhcvjG1w='
export ADMIN_LOGIN_EMAIL='admin@absurditiesmedia.com'
export ADMIN_LOGIN_PASSCODE='lXFruu8gsrufBTpQnkFxTyZq'
export CRAWLER_BEARER_TOKEN='VdgeXgbnfw-F5W6Kl5hv3Fz_6Ku1NQ4vA9R4QHyt0VA'
export ADMIN_API_TOKEN='VdgeXgbnfw-F5W6Kl5hv3Fz_6Ku1NQ4vA9R4QHyt0VA'
export ADMIN_API_BASE_URL='http://localhost:3030'
export PUBLIC_API_BASE_URL='http://localhost:3030'
export API_BASE_URL='http://localhost:3030'
export SKIP_CRAWLER=1
export ADMIN_JWT_ISSUER='mega-directory'
export ADMIN_JWT_AUDIENCE='admin'
export ADMIN_TOKEN_TTL_SECONDS='900'
export GEOCODEMAPS_API_KEY='69140c32b09b1147753869cnza55e45'
export GOOGLEMAPS_API_KEY='AIzaSyDVT2dvelp4rCsocyBKRPETeYvfBg2uUfI'
