version: '3.8'
services:
  api:
    build: .
    ports:
      - "3001:3001"
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:17
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mega_directory
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
