version: '3.8'

services:
  api:
    build:
      context: ./api
    ports:
      - "3001:3001"
    env_file:
      - ./api/.env
    depends_on:
      - db
    volumes:
      - ./api:/app

  astro:
    build:
      context: ./astro
    ports:
      - "3000:3000"
    env_file:
      - ./astro/.env
    depends_on:
      - api
    volumes:
      - ./astro:/app

  db:
    image: postgres:17
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mega_directory
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
